.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
.idea/gradle.xml
/idea/misc.xml
Appathon.iml
app/app.iml
cvappMac/*
import-summary.txt
Appathon2015.iml
.idea/*
app/app.iml
app/build.gradle
settings.gradle
